<div class="specbee-block">
    <div class="country">Country : {{ country }}</div>
    <div class="city">City : {{ city }}</div>
    <div class="date-time">Date & Time : spacbee_special_lazybuild_placeholder</div>    
</div>
